# Data preprocessing  

> [https://github.com/BMClab/covid19](https://github.com/BMClab/covid19)  
> [Laboratory of Biomechanics and Motor Control](http://pesquisa.ufabc.edu.br/bmclab/)  
> Federal University of ABC, Brazil

**This Jupyter notebook uses data created by the web scraping and we are not sharing this data publicly for ethical reasons. If you want to run this notebook, you will first have to run the 'Strava web scrapper' notebooks we provide.**

<h1>Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Setup" data-toc-modified-id="Setup-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Setup</a></span><ul class="toc-item"><li><span><a href="#Environment" data-toc-modified-id="Environment-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Environment</a></span></li><li><span><a href="#Helping-functions" data-toc-modified-id="Helping-functions-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Helping functions</a></span></li></ul></li><li><span><a href="#Load-dataset" data-toc-modified-id="Load-dataset-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Load dataset</a></span><ul class="toc-item"><li><span><a href="#Checking-for-missing-values" data-toc-modified-id="Checking-for-missing-values-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Checking for missing values</a></span></li><li><span><a href="#Data-types-and-memory-usage" data-toc-modified-id="Data-types-and-memory-usage-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Data types and memory usage</a></span></li></ul></li><li><span><a href="#Pre-processing" data-toc-modified-id="Pre-processing-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Pre-processing</a></span><ul class="toc-item"><li><span><a href="#Select-athletes-who-ran-at-least-once-in-2019" data-toc-modified-id="Select-athletes-who-ran-at-least-once-in-2019-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Select athletes who ran at least once in 2019</a></span></li><li><span><a href="#Save-the-current-dataframe-as-the-default-raw-dataset" data-toc-modified-id="Save-the-current-dataframe-as-the-default-raw-dataset-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Save the current dataframe as the default raw dataset</a></span></li><li><span><a href="#Select-'run'-as-activity-type" data-toc-modified-id="Select-'run'-as-activity-type-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Select 'run' as activity type</a></span></li><li><span><a href="#Transform-units-to-kilometers-and-minutes" data-toc-modified-id="Transform-units-to-kilometers-and-minutes-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>Transform units to kilometers and minutes</a></span></li><li><span><a href="#Update-age-groups-to-2019" data-toc-modified-id="Update-age-groups-to-2019-3.5"><span class="toc-item-num">3.5&nbsp;&nbsp;</span>Update age groups to 2019</a></span></li><li><span><a href="#Merge-the-9-age-groups-into-3-groups" data-toc-modified-id="Merge-the-9-age-groups-into-3-groups-3.6"><span class="toc-item-num">3.6&nbsp;&nbsp;</span>Merge the 9 age groups into 3 groups</a></span></li><li><span><a href="#Correct-some-country-names" data-toc-modified-id="Correct-some-country-names-3.7"><span class="toc-item-num">3.7&nbsp;&nbsp;</span>Correct some country names</a></span></li></ul></li><li><span><a href="#Export-dataset" data-toc-modified-id="Export-dataset-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Export dataset</a></span><ul class="toc-item"><li><span><a href="#Full-dataset-with-running-activities" data-toc-modified-id="Full-dataset-with-running-activities-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Full dataset with running activities</a></span></li><li><span><a href="#Test-file" data-toc-modified-id="Test-file-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Test file</a></span></li></ul></li></ul></div>

## Setup

In [1]:
import sys
import os
import numpy as np
import pandas as pd
from tqdm.notebook import tqdm
%load_ext watermark  

%watermark
%watermark --iversions

Last updated: 2021-09-14T00:04:42.110211-03:00

Python implementation: CPython
Python version       : 3.8.10
IPython version      : 7.27.0

Compiler    : GCC 9.3.0
OS          : Linux
Release     : 5.11.0-34-generic
Machine     : x86_64
Processor   : x86_64
CPU cores   : 12
Architecture: 64bit

numpy   : 1.20.3
sys     : 3.8.10 | packaged by conda-forge | (default, May 11 2021, 07:01:05)
[GCC 9.3.0]
autopep8: 1.5.6
json    : 2.0.9
pandas  : 1.3.3

### Environment

In [2]:
path2 = r'./../data/'

pd.set_option('display.float_format', lambda x: '%.4g' % x)

### Helping functions

In [3]:
df = pd.read_csv(os.path.join(path2, 'run_ww_2019.csv'), sep='\t', header=0, nrows=1)
columns = df.columns
columns

Index(['ID', 'athlete', 'activity_id', 'gender', 'age_group', 'date_utc',
       'datetime', 'activity', 'distance', 'duration', 'context', 'challenge',
       'country', 'major'],
      dtype='object')

In [4]:
def read(fname):
    """Read dataset file as pandas dataframe."""
    y = pd.read_csv(fname, sep='\t', header=0, parse_dates=['datetime'], verbose=False,
                    usecols=['athlete', 'gender', 'age_group', 'datetime', 'activity',
                             'distance', 'duration', 'country', 'major'],
                    dtype={'athlete': 'category', 'gender': 'category',
                           'age_group': 'category', 'activity': 'category',
                           'distance': 'int32', 'duration': 'int32',
                           'country': 'category', 'major': 'category'})
    return y

## Load dataset

Let's load the dataset as a [pandas dataframe](https://pandas.pydata.org/pandas-docs/stable/index.html), this will simplify the data handling.

We will load the entire dataset in RAM memory. This will work for the present dataset in a computer with at least 8 GB of RAM memory and it's not scalable (unless you keep buying more RAM memory). For a scalable solution to handle a bigger dataset see for example [Dask](https://dask.org/) or [datatable](https://github.com/h2oai/datatable).  

Let's create a function to read the dataset defining some features as categorical variables, which will decrease memory use once the data is loaded.

In [5]:
years = ['2019', '2020']
df = pd.DataFrame()
for year in tqdm(years):
    df = df.append(read(os.path.join(path2, 'run_ww_' + year + '.csv')), ignore_index=True)
    if year == years[-1]:
        cols = df.select_dtypes(include='O').columns.to_list()
        df[cols] = df[cols].astype('category')
        df.sort_values(['datetime', 'athlete'], inplace=True)
df

  0%|          | 0/2 [00:00<?, ?it/s]

,athlete,gender,age_group,datetime,activity,distance,duration,country,major
6626509,10969,M,45 to 54,2019-01-01 00:00:00,run,42700,15240,Denmark,"LONDON 2019,NEW YORK 2018"
841882,11937,F,35 to 44,2019-01-01 00:00:00,run,6460,2032,United States,"BERLIN 2018,TOKYO 2019"
6231018,12938,F,25 to 34,2019-01-01 00:00:00,run,6510,1572,United States,BOSTON 2019
4095400,13406,M,25 to 34,2019-01-01 00:00:00,run,6520,1492,United States,BERLIN 2019
4625186,14164,M,55 to 64,2019-01-01 00:00:00,run,6220,2957,United States,BERLIN 2018
...,...,...,...,...,...,...,...,...,...
14312725,20357,F,35 to 44,2020-12-31 23:56:00,run,1620,523,United States,BOSTON 2019
10396145,29132,M,35 to 44,2020-12-31 23:57:00,virtualrun,2180,877,Austria,NEW YORK 2019
7429745,16899,F,19 and under,2020-12-31 23:58:00,run,6570,2970,United States,NEW YORK 2017
9858215,34174,F,45 to 54,2020-12-31 23:59:00,run,1610,743,United Kingdom,LONDON 2015
7225301,6134,M,45 to 54,2020-12-31 23:59:00,run,5560,2043,United States,NEW YORK 2019

### Checking for missing values

In [6]:
n = 0
for col in df:
    null = df[df[col].isnull()]['athlete'].unique().to_list()
    if null and col != 'challenge' and col != 'country':
        print('Athlete: {}, null value in {}'.format(null, col))
        n = 1
if n == 0:
    print('No missing values found (except in columns challenge and country).')

Athlete: ['141', '30343', '34078', '4024', '16897', '5924'], null value in activity

### Data types and memory usage

In [7]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14644391 entries, 6626509 to 7225301
Data columns (total 9 columns):
 #   Column     Dtype
---  ------     -----
 0   athlete    category
 1   gender     category
 2   age_group  category
 3   datetime   datetime64[ns]
 4   activity   category
 5   distance   int32
 6   duration   int32
 7   country    category
 8   major      category
dtypes: category(6), datetime64[ns](1), int32(2)
memory usage: 492.2 MB

There are about 150 millions registers in the loaded dataset (14.5 million rows times 10 columns). If we had loaded the data as `float64` or `string` Python objects, we would amount to about 5 GB of memory usage, more than 10 times what actually is being used as a pandas dataframe with the defined object types.

In [8]:
ndays = df['datetime'].dt.date.value_counts().size
print('Number of days:', ndays)
nathletes = df['athlete'].unique().size
print('Number of athletes:', nathletes)
nactivities = df['activity'].size
print('Number of activities:', nactivities)
nactivities2 = df['activity'].unique().size
print('Number of types of activities:', nactivities2)
duration = df['duration'].sum()/ndays/nathletes
print('Average duration of activity per day per athlete: {:.0f} s'.format(duration))

Number of days: 731
Number of athletes: 37595
Number of activities: 14644391
Number of types of activities: 36
Average duration of activity per day per athlete: 1845 s

## Pre-processing

If there are registers of running with zero distance or duration of run, remove them.

In [9]:
zeroduration = df[(df['activity']=='run') & 
                  ((df['distance'] == 0) | (df['duration'] == 0))]
print('Number of run activities with zero distance or duration:', zeroduration.shape[0])
if zeroduration.size:
    df = df.drop(index=zeroduration.index)
    df['athlete'] = df['athlete'].cat.remove_unused_categories()

Number of run activities with zero distance or duration: 0

### Select athletes who ran at least once in 2019

To investigate a COVID-19 related effect comparing 2019 with 2020, an athlete should have ran at least once in 2019.  
Let's find out if there are athletes in 2020 who are not in 2019 and remove them.

In [10]:
df['athlete'] = pd.to_numeric(df['athlete'])
athlete2019run = df[(df['datetime'].dt.year==2019) &
                    (df['activity']=='run')]['athlete'].unique()
print('Number of athletes: {} and who ran at least once in 2019: {}'
      .format(df['athlete'].unique().size, athlete2019run.size))
#df = df[~df['athlete'].isin(athlete2019run)]  # CopyWarning
df = df.drop(index=df[~df['athlete'].isin(athlete2019run)].index)
df['athlete'] = df['athlete'].astype('category')
df['athlete'] = df['athlete'].cat.remove_unused_categories()

Number of athletes: 37595 and who ran at least once in 2019: 36412

In [11]:
ndays = df['datetime'].dt.date.value_counts().size
print('Number of days:', ndays)
nathletes = df['athlete'].unique().size
print('Number of athletes:', nathletes)
nactivities = df['activity'].size
print('Number of activities:', nactivities)
nactivities2 = df['activity'].unique().size
print('Number of types of activities:', nactivities2)
duration = df['duration'].sum()/ndays/nathletes
print('Average duration of activity per day per athlete: {:.0f} s'.format(duration))

Number of days: 731
Number of athletes: 36412
Number of activities: 14530848
Number of types of activities: 36
Average duration of activity per day per athlete: 1889 s

### Save the current dataframe as the default raw dataset

### Select 'run' as activity type

Let's analyze only running activity. In the dataset, there are two run activities: 'run' and 'virtualrun' (although the duration of 'virtual run' is insignificant).

In [12]:
drun = df[df['activity']=='run']['duration'].sum()/ndays/nathletes
print('Average duration of run per day per athlete: {:.0f} s'.format(drun))
dvirtualrun = df[df['activity']=='virtualrun']['duration'].sum()/ndays/nathletes
print('Average duration of virtual run per day per athlete: {:.0f} s'.format(dvirtualrun))

Average duration of run per day per athlete: 1330 s
Average duration of virtual run per day per athlete: 4 s

In [13]:
#df = df[(df['activity']=='run') | (df['activity']=='virtualrun')]
df = df[df['activity']=='run']
df = df.drop(columns='activity')

In [14]:
y = df[df['datetime'].dt.year == 2019][['athlete', 'duration']].groupby('athlete').sum()
norun = y[~y.any(axis='columns', skipna=False)]
print('Number of athletes who did not run in 2019:', norun.shape[0])
y = df[df['datetime'].dt.year == 2020][['athlete', 'duration']].groupby('athlete').sum()
norun = y[~y.any(axis='columns', skipna=False)]
print('Number of athletes who did not run in 2020:', norun.shape[0])

Number of athletes who did not run in 2019: 0
Number of athletes who did not run in 2020: 1329

### Transform units to kilometers and minutes

For long distance running, kilometers and minutes are more convenient units for distance and duration.

In [15]:
df['distance'] = df['distance']/1000
df['duration'] = df['duration']/60

In [16]:
nathletes = df['athlete'].unique().size
print('Number of athletes:', nathletes)
nactivities = df.shape[0]
print('Number of run activities:', nactivities)
distance = df['distance'].sum()/ndays/nathletes
print('Average distance of run per day per athlete: {:.3g} km'.format(distance))
duration = df['duration'].sum()/ndays/nathletes
print('Average duration of run per day per athlete: {:.3g} min'.format(duration))
pace = duration / distance
print('Average pace of run per day per athlete: {:.3g} min/km'.format(pace))

Number of athletes: 36412
Number of run activities: 10703690
Average distance of run per day per athlete: 4.02 km
Average duration of run per day per athlete: 22.2 min
Average pace of run per day per athlete: 5.51 min/km

Selecting only the run activity, about 4 millions of other activities the athletes performed were removed (about one fourth of the 14.5 millions activities in total).

In [17]:
years = [2019, 2020]
for year in years:
    print('Year: {}'.format(year))
    nday = df[df['datetime'].dt.year == year]['datetime'].dt.date.value_counts().size
    print(' Number of days:', nday)
    nathlete = df[df['datetime'].dt.year == year]['athlete'].unique().size
    print(' Number of athletes:', nathlete)
    nactivity = df[df['datetime'].dt.year == year].shape[0]
    print(' Total number of activities:', nactivity)

Year: 2019
 Number of days: 365
 Number of athletes: 36412
 Total number of activities: 5468752
Year: 2020
 Number of days: 366
 Number of athletes: 35083
 Total number of activities: 5234938

### Update age groups to 2019

In the dataset, the age-group interval was taken from the Strava web page with the segment of the Major marathon the athlete participated. If the athlete participated in more than one Major, the age-group interval kept is from the segment with the most recent Major.  
Anyway, the age-group interval was from the year the Major occurred and this interval must be updated to 2019.  
First, we will estimate the athlete's age at her/his most recent Major as the average of the age-group interval reported. Second, the estimated age will be updated to 2019 by summing to this age the difference between 2019 and the year of the athlete's most recent Major. Finally, the updated age will be transformed to one of the existent age-group intervals.

In [18]:
y = df[['athlete', 'age_group', 'major']
      ].drop_duplicates(subset='athlete').sort_values('athlete').reset_index(drop=True)
age_group = y['age_group'].cat.categories.to_list()
age = {'19 and under':19, '20 to 24':22.5, '25 to 34':30, '35 to 44':40,
       '45 to 54':50, '55 to 64':60, '65 to 69':67.5, '70 to 74':72.5, '75+':76}
y['age_group'] = y['age_group'].map(age).astype(float)
f = lambda x: np.array(x, dtype=int).max()
y['age_group'] = y['age_group'] + (2019 - y['major'].str.findall(r'[0-9]+').apply(f))
bins = np.r_[18, np.array([a.split(' to ')[0] for a in age_group[1:-1]],
                          dtype=int), 75, 100]
y['age_group'] = pd.cut(y['age_group'], bins=bins, right=False, labels=age_group)
df = df.drop('age_group', axis=1).join(y.drop('major', axis=1).set_index('athlete'),
                                       on='athlete')
df = df[['datetime', 'athlete', 'gender', 'age_group',
         'distance', 'duration', 'country', 'major']]

### Merge the 9 age groups into 3 groups

To simplify the data analysis per age group, let's reduce from nine to three age groups.

In [19]:
df.drop_duplicates(subset='athlete')[['athlete', 'age_group', 'gender']
                                    ].groupby(['age_group',
                                               'gender']).count().unstack(level=0)

               athlete                                                        \
age_group 19 and under 20 to 24 25 to 34 35 to 44 45 to 54 55 to 64 65 to 69
gender
F                  441      899     2524     2922     1707      346       31
M                   36      651     7691    10776     6196     1909      175


age_group 70 to 74 75+
gender
F               10   9
M               57  32

In [20]:
age_groups = {'19 and under':'18 - 34', '20 to 24':'18 - 34', '25 to 34':'18 - 34',
              '35 to 44':'35 - 54', '45 to 54':'35 - 54',
              '55 to 64':'55 +', '65 to 69':'55 +', '70 to 74':'55 +', '75+':'55 +'}
df['age_group'] = df['age_group'].map(age_groups).astype('category')
df.drop_duplicates(subset='athlete')[['athlete', 'age_group', 'gender']
                                    ].groupby(['age_group',
                                               'gender']).count().unstack(level=0)

          athlete
age_group 18 - 34 35 - 54  55 +
gender
F            3864    4629   396
M            8378   16972  2173

### Correct some country names 

See https://en.wikipedia.org/wiki/List_of_ISO_3166_country_codes

In [21]:
df['country'].replace(
    {'The Netherlands': 'Netherlands', 'Suomi Finland': 'Finland',
     'Moldavia': 'Moldova', 'Republic of Korea': 'South Korea',
     'The United Arab Emirates': 'United Arab Emirates',
     'Luzon': 'Philippines', 'Hellas': 'Greece', 'Cyprus - Kibris': 'Cyprus',
     'Mongolian': 'Mongolia', 'The Savior': 'El Salvador',
     'Balgariya': 'Bulgaria', 'the two seas': 'Bahrain',
     'Føroyar': 'Faroe Islands', 'Saudi': 'Saudi Arabia',
     'Amman': 'Jordan', 'The Bahamas': 'Bahamas', "Timor Lorosa'e": 'East Timor',
     'Diameter': np.nan}, inplace=True)
df['country'] = df['country'].astype('category')

## Export dataset

See a comparison on [formats to save Pandas data](https://towardsdatascience.com/the-best-format-to-save-pandas-data-414dca023e0d).

In [22]:
df.sort_values(['datetime', 'athlete'], inplace=True)
df.reset_index(inplace=True, drop=True)
df

,datetime,athlete,gender,age_group,distance,duration,country,major
0,2019-01-01 00:00:00,261,F,18 - 34,4.71,27.25,Canada,CHICAGO 2018
1,2019-01-01 00:00:00,1575,M,35 - 54,6.5,23.63,United States,BOSTON 2019
2,2019-01-01 00:00:00,2010,M,35 - 54,6.64,31.95,United States,NEW YORK 2018
3,2019-01-01 00:00:00,2937,M,35 - 54,42.34,194,Germany,BERLIN 2019
4,2019-01-01 00:00:00,3172,M,18 - 34,6.59,38.58,United States,BOSTON 2019
...,...,...,...,...,...,...,...,...
10703685,2020-12-31 23:54:00,223,M,35 - 54,5.21,30.1,China,CHICAGO 2015
10703686,2020-12-31 23:56:00,20357,F,35 - 54,1.62,8.717,United States,BOSTON 2019
10703687,2020-12-31 23:58:00,16899,F,18 - 34,6.57,49.5,United States,NEW YORK 2017
10703688,2020-12-31 23:59:00,6134,M,35 - 54,5.56,34.05,United States,NEW YORK 2019
10703689,2020-12-31 23:59:00,34174,F,35 - 54,1.61,12.38,United Kingdom,LONDON 2015

In [23]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10703690 entries, 0 to 10703689
Data columns (total 8 columns):
 #   Column     Dtype
---  ------     -----
 0   datetime   datetime64[ns]
 1   athlete    category
 2   gender     category
 3   age_group  category
 4   distance   float64
 5   duration   float64
 6   country    category
 7   major      category
dtypes: category(5), datetime64[ns](1), float64(2)
memory usage: 348.5 MB

### Full dataset with running activities

In [24]:
df.to_parquet(os.path.join(path2, 'run_ww_2019_2020.parquet'), engine='pyarrow')

### Test file

In [25]:
df = pd.read_parquet(os.path.join(path2, 'run_ww_2019_2020.parquet'))
#df['athlete'] = df['athlete'].astype('category')  # bug in parquet
df

,datetime,athlete,gender,age_group,distance,duration,country,major
0,2019-01-01 00:00:00,261,F,18 - 34,4.71,27.25,Canada,CHICAGO 2018
1,2019-01-01 00:00:00,1575,M,35 - 54,6.5,23.63,United States,BOSTON 2019
2,2019-01-01 00:00:00,2010,M,35 - 54,6.64,31.95,United States,NEW YORK 2018
3,2019-01-01 00:00:00,2937,M,35 - 54,42.34,194,Germany,BERLIN 2019
4,2019-01-01 00:00:00,3172,M,18 - 34,6.59,38.58,United States,BOSTON 2019
...,...,...,...,...,...,...,...,...
10703685,2020-12-31 23:54:00,223,M,35 - 54,5.21,30.1,China,CHICAGO 2015
10703686,2020-12-31 23:56:00,20357,F,35 - 54,1.62,8.717,United States,BOSTON 2019
10703687,2020-12-31 23:58:00,16899,F,18 - 34,6.57,49.5,United States,NEW YORK 2017
10703688,2020-12-31 23:59:00,6134,M,35 - 54,5.56,34.05,United States,NEW YORK 2019
10703689,2020-12-31 23:59:00,34174,F,35 - 54,1.61,12.38,United Kingdom,LONDON 2015

In [26]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10703690 entries, 0 to 10703689
Data columns (total 8 columns):
 #   Column     Dtype
---  ------     -----
 0   datetime   datetime64[ns]
 1   athlete    int64
 2   gender     category
 3   age_group  category
 4   distance   float64
 5   duration   float64
 6   country    category
 7   major      category
dtypes: category(4), datetime64[ns](1), float64(2), int64(1)
memory usage: 388.1 MB